.Main{
    position: relative;
}

.Nav {
    background-color: rgb(230, 237, 243);
}

.Nav, a {
    font-size: 20px;
    padding: 5px;
    color: rgb(2, 52, 83);
    text-decoration: none;
}

a:hover {
    background-color: rgb(187, 229, 237);
}

img {
    width: 100%;
}

.ImageContainer {
    margin-top: -5px;
   width:100%;
   image-rendering: smooth;
    margin-top: 20px;
    position: relative;
}

.ImageContainer h1 {
    position: absolute;
    bottom: 5px;
    color: rgb(0, 0, 0);
    border: 2px solid black;
    width: 700px;
    left: 750px;
    text-align: center;
    background-color: #949494;
    border-radius: 6px;
}

.ImageContainer h1:hover {

    background-color: aliceblue;
}

.pic {
    margin-top: 40px;
    width: 300px;
    margin-left: 600px;
}

#img_1 {
    border: 2px solid black;
    border-radius: 50%;
}
p{
    text-align: center;
}

.Box_collection {
    border: 5px solid rgb(255, 255, 255);
}

.Box_collection_1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.Box_collection img {
    margin-top: 15px;
    margin-left: 200px;
    border-radius: 50%;
}

.Box_collection_2 {
    width: 30%;
}

.Box_collection_2 img {
    width: 100%;
}

.Box_collection_3 {
    width: 50%;
}

#span_1 {
    text-decoration: underline;
    color: rgb(81, 3, 18);
    font-size: 30px;
}

#para_1 {
    color: rgb(19, 4, 121);
}

hr {
    position: relative;
    width: 250px;
    top: 15px;
    border: none;
    height: 4px;
    background: rgb(0, 207, 243);
    margin-bottom: 50px;
}


h2{
    text-align: center;
}
.Photo_Collection_1{
   margin-left: 100px;
}
.Photo_Collection_1 img{
    display: flex;
    width:300px;
    height:250px;
    margin:10px;
}
.Photo_Collection_2{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

img:hover {
  opacity: 0.7;
}